<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Parser" type="System.Configuration.NameValueSectionHandler" />
    <section name="ParserChapters" type="System.Configuration.NameValueSectionHandler" />
    <section name="Writer" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <Parser>
    <add key="ParseMode" value="DoubleColon"/>
    <add key="MaxParagraphLength" value="5"/>
    <add key="BookTitle" value="The Robotics;Notes"/>
  </Parser>
  <ParserChapters>
    <add key="Chapter1" value="ChapterName1"/>
    <add key="Chapter2" value="ChapterName2"/>
    <add key="Chapter3" value="ChapterName3"/>
    <add key="Chapter4" value="ChapterName4"/>
    <add key="Chapter5" value="ChapterNam5"/>
    <add key="Chapter6" value="ChapterName6"/>
    <add key="Chapter7" value="ChapterNam7"/>
    <add key="Chapter8" value="ChapterName8"/>
    <add key="Chapter9" value="ChapterNam9"/>
    <add key="Chapter10" value="ChapterName10"/>
    <add key="Chapter11" value="ChapterName11"/>
    <add key="Chapter12" value="ChapterName12"/>
  </ParserChapters>
  <Writer>
    <add key="DocumentFormat" value="HTML"/>
  </Writer>
</configuration>