<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Parser" type="System.Configuration.NameValueSectionHandler" />
    <section name="ParserChapters" type="System.Configuration.NameValueSectionHandler" />
    <section name="Writer" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <Parser>
    <add key="ParseMode" value="DoubleColon"/>
    <add key="MaxParagraphLength" value="3"/>
    <add key="BookTitle" value="Robotics;Notes"/>
  </Parser>
  <ParserChapters>
    <add key="Chapter1" value="-Chromosphere Inductor-;All About Dreams, Hope, and Romantic Ideals"/>
    <add key="Chapter2" value="-Geosphere Tester-;Let's Build a Giant Robot of Justice, Together"/>
    <add key="Chapter3" value="-Troposphere Regulator-;If My Dream Came to an End, I'd Be Really Sad"/>
    <add key="Chapter4" value="-Stratosphere Alternator-;Because It's the Crystallization of Our Blood, Sweat, and Tears"/>
    <add key="Chapter5" value="-Ozonosphere Actuator-;Let's Make a Robot Only We Can Build"/>
    <add key="Chapter6" value="-Mesosphere Encoder-;Until There's at Least One Thing You Like About Them"/>
    <add key="Chapter7" value="-Ionosphere Driver-;What a Messed-Up World"/>
    <add key="Chapter8" value="-Thermosphere Sensor-;I'll Show You a Dream"/>
    <add key="Chapter9" value="-Exosphere Breaker-;I Really Love Giant Robots"/>
    <add key="Chapter10" value="-Magnetosphere Transponder-;We Gotta Hold Our Heads High and Make Him Move"/>
    <add key="Chapter11" value="-Plasmasphere Transistor-;I Should've Never Had a Dream"/>
    <add key="Chapter12" value="-Heliosphere Connector-;This Is Where Our Game Starts"/>
  </ParserChapters>
  <Writer>
    <add key="DocumentFormat" value="HTML"/>
  </Writer>
</configuration>